.PDiv {
    width: 100%;
}

.react-pdf__Page {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 20px white;

}

@media (max-width: 768px) {
    .react-pdf__Page {
        border-radius: 10px;
    }
}


canvas.react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important;
}

.react-pdf__message.react-pdf__message--no-data {
    display: none;
}